*{
    font-family: ubuntu;
}
a{
    text-decoration: none;
    opacity: 1;
    color: #0073B1;
}
ul li{
    list-style: none;
}
nav {
    background: #0073B1;
    padding: 8px;
    margin-bottom: 5px;
}
nav > .search-bar{
    width: 100%;
    border: 0px;
    border-bottom: 2px solid #fff;
    color: #fff;
    background: #0073B1;
    padding: 2px;
    font-size: 1.1em;
    outline: none;
}
::placeholder{
    color: #fff;
}
header{
    width: 100%;
    box-shadow: 0px 3px 3px 0px  #c0c0c0;
    margin-bottom: 10px;
}
header > .background-img {
    height: 100px;
    background-image: url('https://static-exp1.licdn.com/sc/h/5qi38njir9vsm46ync2qjvrrs');
    background-position: center center;
    background-size: cover;
}
.section{
    display: flex;
    padding: 10px;
}
.section > .yaarme-logo{
    height: 80px;
    transform: translateY(-60%);
}
.section > div{
    margin-top: -20px;
    padding: 5px;
}
.tagline{
    margin-top: -20px;
    font-size: 1em;
    padding-left: 10px;
}
.links-div{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-div > div > .follow-btn{
    margin: 5px;
    width: 120px;
    height: 30px;
    background: #0073B1;
    color: #fff;
    font-weight: 600;
    border: 0px;
    outline: none;
}
.links-div > div >.visit-btn{
    width: 120px;
    margin: 5px;
    height: 30px;
    background: transparent;
    color: #0073B1;
    border: 0px;
    border: 1px solid #0073B1;
    font-weight: 800;
}
.links-div > .see-all > a{
    font-weight: 600;
    color: #0073B1;
}
.main{
    display: flex;
    justify-content: space-evenly;
}
.left-side{
    background: whitesmoke;
    height: fit-content;
    box-shadow: 0px 3px 3px 0px  #c0c0c0;
}
.left-side > .page-nav > li{
    padding-top: 9px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
}
.left-side > .page-nav > li > a{
    border-left: 10px solid transparent;
}
.left-side > .page-nav > li > a{
    color: #252525;
    padding: 3px;
    font-weight: 600;
}
.left-side > .page-nav > li > a:active{
    color: #0073B1;
    border-left: 10px solid #0073B1;
}
.middle-side{
    width: 500px;
    box-shadow: 0px 3px 3px 0px  #c0c0c0;
}
.data{
    opacity: 0.7;
    display: none;
}
.data  table  tr  td{
    padding-top: 10px;
}
.middle-side > .btns-nav > ul {
    display: flex;
    justify-content: space-evenly;
}   
.middle-side > .btns-nav > ul > li{
    background: rgb(235, 234, 234);
    border-radius: 15px;
    padding: 10px;
}
.middle-side > .details-card{
    padding: 10px;
    background: whitesmoke;
}
.middle-side > .details-card > .d-c-header{
    display: flex;
    align-items: center;
    margin: 15px auto;
}
.middle-side > .details-card > .d-c-header > img{
    height: 35px;
}
.middle-side > .details-card > .d-c-img{
    max-width: 300px;
    margin: 0 auto;
}
.middle-side > .details-card > .d-c-img > img{
    width: 100%;
    background-position: center center;
    background-size: cover;
}
.middle-side > .details-card > .d-c-link > a{
    color: #252525;
    font-weight: bold;
}
.middle-side > .details-card > .d-c-link > a >p{
    opacity: 0.7;
}
.middle-side > .details-card > .d-c-social{
    margin-top: 5px;
    border: 1px solid #e0e0e0;
}
.middle-side > .details-card > .d-c-social > ul{
    display: flex;
    justify-content: space-around;
}
.right-side{
    background: whitesmoke;
    padding: 20px;
    height: fit-content;
    box-shadow: 0px 3px 3px 0px  #c0c0c0;
}
.right-side > .company-suggestion{
    padding-left: 30px;
}
.right-side > .company-suggestion > h4 , p{
    padding: 0px;
    margin: 0px;
}
.right-side > .company-suggestion > p:nth-child(2){
    padding-top: 3px;
    opacity: 0.5;
}
.right-side > .company-suggestion > p:nth-child(3){
    padding: 6px;
}
.right-side > .company-suggestion > p > a{
    padding: 20px;
    color: #0073B1;
    width: fit-content;
}
@media (max-width:875px){
    .middle-side{
        width: auto;
        padding: 20px;
    }
}
@media (max-width:750px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .left-side > .page-nav{
        display: flex;
        justify-content: space-evenly;
    }
}
@media (max-width:550px){
    .section{
        display: flex;
        flex-direction: column;
    }
    .section > .yaarme-logo{
        width: 80px;
    }
    .section > div{
        margin-top: -70px;
    }
    .links-div > div > .follow-btn {
        display: none;
    }
    .links-div > .see-all{
        display: none;
    }
    .links-div > div > .visit-btn{
        width: 90vw;
        color: #fff;
        background: #0073B1;
        text-transform: uppercase;
    }

}
@media (max-width:360px){
    .middle-side > .btns-nav{
        margin-left: -20px;
    }
    .middle-side > .btns-nav > ul > li{
        padding: 5px;
        margin: 3px;
    }
}